Package: extra-scidb-libs-VERSION
Source: extra-scidb-libs VERSION
Maintainer: Paradigm4 <info@paradigm4.com>
Architecture: all
Version: 0
Depends: scidb-VERSION-all-coord
Description: Extra SciDB Libraries
 Extra SciDB libraries submitted to our Paradigm4 github repository.


